<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="https://i.pinimg.com/originals/d9/d2/82/d9d282bfd1842ef06e706a12679e7e49.jpg">
    <title>Help Page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{ helpText }}</p>
    </div>
    {{>footer}}
</body>
</html>