<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.pinimg.com/originals/d9/d2/82/d9d282bfd1842ef06e706a12679e7e49.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>